params {
    input_path      = "$baseDir/../NanoPreprocess"
    comparison         = "$baseDir/comparison.tsv"

    reference          = "$baseDir/../anno/Yeast.sacCer3.cdna.fa.gz"

    output             = "$baseDir/output_gen"
    coverage           = 5

    tombo_opt          = "--num-bases 5"
    epinano_opt        = ""
    nanopolish_opt     = ""
    nanocompore_opt    = ""
    email              = ""
}

